@font-face {
  font-family: 'AvenirNextCyr_Light';
  src: url('AvenirNextCyr-Light.eot');
  src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'), url('../libs/fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/AvenirNextCyr-Light.woff') format('woff'), url('../libs/fonts/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr_Demi';
  src: url('AvenirNextCyr-Demi.eot');
  src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'), url('../libs/fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/AvenirNextCyr-Demi.woff') format('woff'), url('../libs/fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr_Med';
  src: url('AvenirNextCyr-Medium.eot');
  src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'), url('../libs/fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/AvenirNextCyr-Medium.woff') format('woff'), url('../libs/fonts/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr_Reg';
  src: url('AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'), url('../libs/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/AvenirNextCyr-Regular.woff') format('woff'), url('../libs/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr_Bold';
  src: url('AvenirNextCyr-Bold.eot');
  src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'), url('../libs/fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/AvenirNextCyr-Bold.woff') format('woff'), url('../libs/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.action_btn {
  border: 3px solid #EB673F;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
}
.orange_btn {
  padding: 18px 40px;
  background: rgba(235, 103, 63, 0.3);
  border: 3px solid #EB673F;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  transition: all ease 0.2s;
}
.orange_btn p {
  text-transform: uppercase;
  display: inline;
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3.4px;
  color: #FFFFFF;
  margin-right: 10px;
}
.orange_btn .fas {
  color: #fff;
  font-size: 15px;
}
.transp_btn {
  padding: 10px 40px;
  border: 3px solid #EB673F;
  box-sizing: border-box;
  transition: all ease 0.2s;
}
.transp_btn p {
  text-transform: uppercase;
  display: inline;
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3.4px;
  color: #EB673F;
}
.orange_btn:hover,
.transp_btn:hover {
  backdrop-filter: none;
  background: #EB673F;
}
.orange_btn:hover p,
.transp_btn:hover p {
  color: #fff;
}
.send_btn {
  width: 180px;
  margin-top: 20px;
}
.scroll_to_top {
  background-color: #EB673F;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 50;
}
.scroll_to_top .fas {
  font-size: 20px;
}
.title {
  z-index: 3;
  width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
}
.title .circle,
.title .round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.title .circle {
  border: 2px solid #333030;
}
.title .round {
  margin: 12px;
  height: 40px;
  width: 40px;
  border: 2px solid #EB673F;
  background: rgba(235, 103, 63, 0.1);
  position: relative;
}
.title .round .fas {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #EB673F;
  font-size: 5px;
}
.title .text_and_button {
  width: 90%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.title h2 {
  width: 60%;
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  font-size: 34px;
  line-height: 45px;
  color: #FFFFFF;
}
.title h2 span {
  color: #EB673F;
}
.mfp-bg {
  background: none;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
  font-size: 35px;
  opacity: 1;
  transition: all ease 0.2s;
}
.mfp-close:hover {
  color: #EB673F;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
input::-webkit-input-placeholder {
  color: #8A827F;
  font-family: 'AvenirNextCyr_Light', sans-serif;
}
input:focus::-webkit-input-placeholder {
  color: #fff;
}
/* Firefox < 19 */
input:-moz-placeholder {
  color: #8A827F;
  font-family: 'AvenirNextCyr_Light', sans-serif;
}
input:focus:-moz-placeholder {
  color: #fff;
}
/* Firefox > 19 */
input::-moz-placeholder {
  color: #8A827F;
  font-family: 'AvenirNextCyr_Light', sans-serif;
}
input:focus::-moz-placeholder {
  color: #fff;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #8A827F;
  font-family: 'AvenirNextCyr_Light', sans-serif;
}
input:focus:-ms-input-placeholder {
  color: #fff;
}
.desktop_arrow {
  position: absolute;
  bottom: 14%;
  width: 50px;
  z-index: 10;
  cursor: pointer;
}
.arrow_next {
  left: 16%;
}
.arrow_prev {
  left: 10%;
}
.default_popup {
  width: 50%;
  background: rgba(36, 34, 33, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 0 auto;
}
.default_popup .start_popup_wrap {
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
}
.default_popup p {
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.default_popup form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.default_popup input {
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #8A827F;
}
.default_popup input:focus {
  border-bottom: 1px solid #fff;
}
.default_popup a p {
  margin-right: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'AvenirNextCyr_Reg', sans-serif;
  font-size: 16px;
  background-color: #242221;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 84%;
}
.screen {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orange_line {
  margin-top: 5%;
  width: 100%;
  height: 2px;
  background-color: #EB673F;
  position: relative;
  display: flex;
  justify-content: center;
}
.absolute_line_block {
  position: absolute;
  display: flex;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
}
.absolute_main_text {
  font-family: 'AvenirNextCyr_Light', sans-serif;
  width: 25%;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.01em;
}
.dec_line {
  position: absolute;
  width: 100%;
  left: 0;
}
.first_wrap,
.second_wrap,
.third_wrap {
  position: relative;
  background: linear-gradient(322.84deg, #242221 54.67%, #8E8E8E 224.58%);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.first_wrap .line_1,
.second_wrap .line_1,
.third_wrap .line_1 {
  top: 0%;
}
.first_wrap .line_2,
.second_wrap .line_2,
.third_wrap .line_2 {
  top: 5%;
}
.first_wrap .line_3,
.second_wrap .line_3,
.third_wrap .line_3 {
  top: 55%;
}
.first_wrap .line_4,
.second_wrap .line_4,
.third_wrap .line_4 {
  top: 15%;
}
.first_wrap .line_5,
.second_wrap .line_5,
.third_wrap .line_5 {
  top: 20%;
}
.first_wrap .line_6,
.second_wrap .line_6,
.third_wrap .line_6 {
  top: 60%;
}
.first_wrap .line_7,
.second_wrap .line_7,
.third_wrap .line_7 {
  top: 70%;
}
.first_wrap .line_8,
.second_wrap .line_8,
.third_wrap .line_8 {
  top: 45%;
}
.first_wrap {
  z-index: 20;
}
.second_wrap {
  z-index: 10;
}
.third_wrap {
  z-index: 5;
}
header {
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  width: 14%;
}
header .logo img {
  width: 100%;
}
header nav {
  width: 40%;
  display: flex;
  margin-left: 2%;
  margin-right: 12%;
}
header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header li a {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  color: #8A827F;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
}
header li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8A827F;
  content: "";
  transition: width 0.3s ease-out;
}
header li a:hover:after,
header li a:focus:after {
  width: 100%;
}
header .tour {
  display: flex;
  justify-content: center;
  position: relative;
  width: 15%;
}
header .tour a {
  cursor: pointer;
  z-index: 2;
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-weight: 750;
  font-size: 14px;
  line-height: 20px;
  color: #EB673F;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
header .tour img {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135%;
}
header .mobile_menu {
  cursor: pointer;
  width: 35px;
  display: none;
  flex-direction: column;
}
header .mobile_menu .burg {
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #C4C4C4;
}
.mobile {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 250;
  transition: all 0.35s;
}
.mobile .close_mob_menu {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.mobile .close_mob_menu img {
  width: 20px;
  height: 20px;
}
.mobile .wrap {
  box-sizing: border-box;
  padding-top: 50px;
  width: 300px;
  height: 100%;
  position: relative;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: flex-start;
  float: right;
}
.mobile li {
  margin-bottom: 20px;
}
.mobile a {
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  color: #8A827F;
  line-height: 25px;
  cursor: pointer;
  line-height: 1;
}
.active {
  right: 0%;
}
.first_screen {
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  z-index: 2;
  position: relative;
}
.first_screen .socials_block,
.first_screen .languages_block {
  width: 8%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.first_screen .socials_block a,
.first_screen .languages_block a {
  text-align: center;
  margin-bottom: 50px;
}
.first_screen .fab {
  color: #8A827F;
  font-size: 18px;
  transition: all ease 0.2s;
}
.first_screen .fab:hover {
  color: #EB673F;
}
.first_screen .languages_block li {
  margin-bottom: 50px;
  text-align: center;
}
.first_screen .languages_block a {
  display: inline;
  position: relative;
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #8A827F;
  transition: all ease 0.2s;
}
.first_screen .languages_block a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #EB673F;
  content: "";
  transition: width 0.2s ease-out;
}
.first_screen .languages_block a:hover {
  color: #EB673F;
}
.first_screen .languages_block a:hover:after,
.first_screen .languages_block a:focus:after {
  width: 100%;
}
.first_screen .languages_block .active {
  color: #EB673F;
}
.first_screen .languages_block .active:after {
  width: 100%;
}
.first_screen .get_started_block {
  display: flex;
  align-items: stretch;
}
.first_screen .welcome_block {
  background-color: #EB673F;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first_screen .welcome_block p {
  transform: rotate(-90deg);
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 26px;
  line-height: 32px;
  color: #FF845E;
}
.first_screen .start {
  width: 94%;
  background: url(../img/firstScreenImg.jpg) 100% 100% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.first_screen .start .start_wrap {
  margin-top: 12%;
  margin-bottom: 12%;
  margin-left: 6%;
}
.first_screen .start .delivery_text {
  margin-bottom: 15px;
  font-size: 38px;
  line-height: 59px;
  letter-spacing: -0.01em;
}
.first_screen .start h1 {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  width: 70%;
  font-size: 54px;
  line-height: 80px;
  margin-bottom: 40px;
}
.first_screen .start h1 span {
  color: #EB673F;
}
.second_screen {
  margin-top: 140px;
  flex-direction: column;
  position: relative;
}
.second_screen .mint_back {
  position: absolute;
  right: 0;
  top: 4%;
  width: 16%;
}
.second_screen .strawberry_back {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 12%;
}
.second_screen .advantages_block {
  z-index: 3;
  margin-top: 100px;
  margin-bottom: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.second_screen .round::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333030;
  height: 120vh;
  top: 20px;
  z-index: -1;
}
.second_screen .advantage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(321.34deg, #242221 44.39%, #6C6B6A 181.87%);
}
.second_screen .icon {
  margin: 60px 0;
}
.second_screen img {
  width: 80%;
}
.second_screen .adv_text {
  width: 100%;
  background-color: #EB673F;
  padding: 30px 0;
}
.second_screen .adv_text p {
  text-align: center;
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.second_screen .service {
  z-index: 3;
  background-image: url(../img/serving.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.second_screen .serv_text {
  padding-top: 180px;
  margin-left: 12%;
}
.second_screen .descr {
  z-index: 3;
  padding-bottom: 120px;
  margin-left: 12%;
  opacity: 0;
  display: block;
  width: 35%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  transition: all 0.3s ease;
}
.second_screen .service:hover span {
  opacity: 1;
}
.third_screen {
  margin-top: 20%;
  flex-direction: column;
  z-index: 25;
}
.third_screen .slider {
  z-index: 5;
  background: url(../img/roundLogo.svg) 20% 60% no-repeat;
  background-size: 65%;
  padding: 65px 0;
}
.third_screen .round::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333030;
  height: 60vh;
  top: 20px;
  z-index: -1;
}
.third_screen .round::before {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333030;
  height: 120vh;
  bottom: 20px;
  z-index: -1;
}
.third_screen .slide {
  z-index: 5;
  width: 100%;
  position: relative;
  display: flex !important;
  justify-content: flex-end;
}
.third_screen .slide_photo {
  width: 60%;
  max-height: 600px;
  object-fit: cover;
}
.third_screen .plashka_wrap {
  width: 50%;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333030;
}
.third_screen .plashka_content {
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-color: #242221;
}
.third_screen .dec_1 {
  position: absolute;
  top: -27%;
  left: 20%;
  width: 50px;
}
.third_screen .dec_2 {
  position: absolute;
  top: -27%;
  left: 30%;
  width: 50px;
}
.third_screen .review {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
  font-family: 'AvenirNextCyr_Reg', sans-serif;
  font-size: 22px;
  line-height: 44px;
}
.third_screen .author {
  font-family: 'AvenirNextCyr_Demi', sans-serif;
  font-size: 25px;
  line-height: 39px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #EB673F;
}
.fourth_screen {
  margin-top: 10%;
  flex-direction: column;
  z-index: 20;
}
.fourth_screen .round::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  background-color: #333030;
  height: 100vh;
  bottom: 20px;
}
.fourth_screen .partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin-top: 60px;
}
.fourth_screen .partner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth_screen .partner img {
  width: 100%;
  object-fit: cover;
}
.fourth_screen .partner .partner_text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}
.fourth_screen .partner .partner_name {
  font-family: 'AvenirNextCyr_Light', sans-serif;
  font-size: 35px;
  transition: all ease 0.3s;
  margin-bottom: 15px;
  margin-top: 25%;
}
.fourth_screen .partner .partner_descr {
  font-family: 'AvenirNextCyr_Light', sans-serif;
  opacity: 0;
  overflow: hidden;
  height: 0 !important;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.01em;
  transition: opacity 0.5s ease-out;
}
.fourth_screen .partner:hover .partner_name {
  transform: scale(0.9);
  margin-top: 0%;
}
.fourth_screen .partner:hover .partner_descr {
  opacity: 1;
  height: auto;
}
.fourth_screen .orange_line {
  margin-top: 20%;
}
.fourth_screen .benefits {
  background: url(../img/benefits.jpg) no-repeat;
  background-size: cover;
}
.fourth_screen .benefits_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourth_screen .benefit_text {
  margin: 130px 0 110px 0;
  margin-left: 12%;
  width: 60%;
}
.fourth_screen .benefit_descr {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}
.fourth_screen .benefit_main_text {
  width: 60%;
  margin-top: 30px;
}
.fourth_screen .action_btn {
  width: 20%;
  margin-right: 6%;
}
.fifth_screen {
  margin-top: 20%;
  flex-direction: column;
}
.fifth_screen .stay {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  color: #8A827F;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}
.fifth_screen .title {
  text-align: center;
  width: 100%;
}
.fifth_screen .title h2 {
  width: 100%;
  margin: 60px 0 ;
  font-size: 60px;
  text-align: center;
}
footer {
  width: 100%;
  margin-top: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
footer .back3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55%;
}
footer .footer_wrap {
  width: 75%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
footer .get_in_touch {
  width: 50%;
  display: flex;
  flex-direction: column;
}
footer .get_in_touch span {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  width: 70%;
  font-size: 12px;
  line-height: 20px;
  color: #8A827F;
  padding: 30px 0;
}
footer .logo {
  width: 30%;
}
footer .logo img {
  width: 100%;
}
footer form {
  width: 80%;
  display: flex;
  flex-direction: row;
}
footer input {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  border: none;
  flex-grow: 2;
  padding: 18px;
  color: #8A827F;
  background-color: #403C3B;
}
footer input::placeholder {
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  font-size: 12px;
}
footer input:focus {
  outline: none;
}
footer button {
  cursor: pointer;
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  font-size: 12px;
  color: #8A827F;
  background-color: #403C3B;
  text-transform: uppercase;
  padding-right: 20px;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  width: 25%;
}
footer .contacts a {
  margin-bottom: 20px;
  font-family: 'AvenirNextCyr_Bold', sans-serif;
  line-height: 25px;
  color: #8A827F;
}
footer .contacts .tel_contact {
  font-size: 18px;
}
footer .contacts .email_contact {
  font-size: 14px;
}
