//out: ../css/adapt.css

// 1800 and >
@media (min-width: 1800px) and (max-width: 2560px){
    
    // title text
    .title h2{
        font-size: 48px;
        line-height: 65px;
    }
    .title .round{
        margin: 18px;
        height: 52px;
        width: 52px;
    }
    // BUTTONS
    .action_btn{
        border-width: 3px;
    }
    .orange_btn{
        padding: 28px 64px;
        p{
            font-size: 18px;
        }
    }
    .transp_btn{
        margin-top: 10px;
        padding: 18px 56px;
        p{
            font-size: 18px;
        }
    }
    // popups
    .default_popup {
        width: 40%;
    }
    // HEADER
    // nav
    header{
        nav{
            width: 35%;
        }
        li a{
            font-size: 16px;
        }
        .tour a{ 
            font-size: 16px;
        } 
    }
    // FIRST SCREEN
    .first_screen{
        .socials_block a {
            margin-bottom: 70px;
        }
        .socials_block .fab{
            font-size: 26px;
        }
        .languages_block li {
            margin-bottom: 70px;
        }
        .languages_block a{
            font-size: 18px;
        }
        .start .start_wrap{
            margin-top: 14%;
            margin-bottom: 12%;
        }
        // delivery text
        .start .delivery_text{
            font-size: 48px;
            line-height: 59px;
            margin-bottom: 25px;
        }
        // h1
        .start h1{
            font-size: 70px;
            line-height: 90px;
            margin-bottom: 80px;
        }
    }
    // SECOND SCREEN
    .second_screen{
        // advantages
        .icon{
            margin: 100px 0;
        }
        // advantages icon size
         img {
            width: 100%;
        }
        .adv_text{
            padding: 40px 0;
        }
        .adv_text p {
            font-size: 18px;
        }
        // serv block
        .serv_text{
            padding-top: 220px;
            font-size: 50px;
            line-height: 60px;
        }
        .descr{
            font-size: 24px;
            line-height: 34px;
            padding-bottom: 200px;
        }
    }
    // SLIDER
    .third_screen{
        .desktop_arrow{
            width: 60px;
            bottom: 18%;
        }
        .slider{
            padding:  100px 0 ;
        }
        .slide_photo{
            max-height: 900px;
        }
        .dec {
            top: -27%;
            width: 70px;
        }
        .plashka_content{
            padding: 100px 60px 80px 60px;
        }
        .review, .author{
            font-size: 30px;
            line-height: 45px;
        }
    }
    // FOURTH SCREEN
    .fourth_screen{
        .partner .partner_name{
            font-size: 48px;
            line-height: 57px;
        }
        .partner .partner_descr{
            font-size: 20px;
            line-height: 30px;
        }
         .benefit_text{
            margin: 200px 0 150px 0;
            margin-left: 12%;
            font-size: 30px;
        }
        .benefit_descr{
            font-size: 18px;
            line-height: 16px;
        }
        .benefit_main_text{
            font-size: 48px;
            line-height: 57px;
        }
    }
    // FIFTH SCREEN
    .fifth_screen{
        .stay {
            font-size: 16px;
        }
        .title h2{
            font-size: 70px;
        }
    }
    // FOOTER
    footer{
        padding-bottom: 12%;
        .get_in_touch{
            width: 40%;
        }
        .get_in_touch span{
            width: 90%;
            font-size: 16px;
            line-height: 25px;
        }
        .logo{
            width: 40%;
        }
        form{
            width: 100%;
        }
        input::placeholder{
            font-size: 14px;
        }
    }
}
// < 1400px
@media (max-width: 1400px){
    .third_screen{
        margin-top: 25%;
    }
    .fourth_screen .action_btn{
        width: 24%;
    }
}
// < 1300px
@media (max-width: 1300px){
    .container{
        width: 90%;
    }
    // TITLE
    .title{
        align-items: flex-start;
        .text_and_button{
            flex-direction: column;
        }
        h2{
            width: 80%;
            font-size: 40px;
        }
        .action_btn{
            margin-top: 40px;
        }
    }
    // BUTTONS
    .orange_btn{
        padding: 24px 68px;
    }
    .transp_btn{
        padding: 18px 48px;
        p{
            font-size: 16px;
        }
    }
    // header
   header {
       .logo, .tour{
        width: 20%;
       }
       .tour img{
        width: 170%;
       }
       .tour a{
           font-size: 16px;
       }
       nav{
        width: 60%;
        margin-left: 8%;
        margin-right: 12%;
       }
       li a {
           font-size: 16px;
       }
   }
    //    FIRST SCREEN
   .first_screen{
       .get_started_block{
           width: 80%;
       }
       .socials_block, .languages_block{
           width: 10%;
       }
       .fab{
           font-size: 25px;
       }
       .languages_block a{
            font-size: 16px;
        }
        // main block
        .start .start_wrap{
            margin-top: 8%;
            margin-bottom: 6%;
        }
        //  h1
        .start h1{
            width: 90%;
            font-size: 70px;
        }
    }
    // SECOND SCREEN
    // advantages blocks
    .second_screen{
        .adv_text p{
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 3.2px;
            margin: 0 auto;
            width: 60%;
        }
        .icon{
            margin: 80px 0;
        }
        .icon img{
            width: 100%;
        }
    }
    // THIRD SCREEN
    .third_screen{
        margin-top: 35%;
        .desktop_arrow {
            width: 55px;
            bottom: 5%;
        }
        .arrow_prev {
            left: 18%;
        }
        .arrow_next {
            left: 24%;
        }
        .slick-slide{
            padding-bottom: 4%;
        }
        .slider{
            background: url(../img/roundLogo.svg) 20% 20% no-repeat;
            background-size: 88%;
            padding: 6% 0;
            padding-bottom: 10%;
            .plashka_wrap{
                width: 50%;
                left: 2%;
                top: 70%;
            }
            .plashka_content{
                padding: 100px 40px 60px 40px;
            }
        }
        .review{
            font-size: 34px;
            line-height: 44px;          
        }
        .dec {
            position: absolute;
            top: -20%;
            width: 60px;
        }
        .dec_1{
            left: 16%;
        }
        .dec_2{
            left: 28%;
        }
    }
    // FOURTH SCREEN
    .fourth_screen{
        margin-top: 15%;
        // partners
        .partner img{
            min-height: 400px;
        }
        .orange_line{
            margin-top: 30%;
        }
        // benefits
        .benefits_wrap{
            flex-direction: column;
            align-items: flex-start;
        }
        .benefit_text{
            margin: 130px 0 40px 0;
            margin-left: 12%;
        }
        .benefit_main_text{
            width: 100%;
            font-size: 48px;
            line-height: 57px;
        }
        .action_btn{
            margin-left: 12%;
            margin-bottom: 120px;
            width: 30%;
        }
    }
    // fifth
    .fifth_screen{
        margin-top: 30%;
        .title h2{
            font-size: 78px;
            line-height: 98px;
            width: 60%;
            margin: 60px auto;
        }
        .stay{
            font-size: 18px;
        }
    }
    // footer
    footer{
        margin-top: 15%;
        padding-bottom: 100px;
        .footer_wrap{
            flex-direction: column;
        }
        .get_in_touch{
            width: 70%;
            span {
                font-family: 'AvenirNextCyr_Bold', sans-serif;
                width: 60%;
            }
        }
        .contacts {
            margin-top: 60px;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            .tel_contact{
                font-size: 24px;
            }
        }
        .contacts a{
            margin-bottom: 0;
            line-height: 25px;
            color: #fff;
        }
        .back3{
            width: 70%;
        }
    }
    // linies
    .second_wrap .line_6{
        top: 42%;
    }
    .second_wrap .line_7{
        top: 48%;
    }
    .second_screen .orange_line{
        margin-top: 10%;
    }
}

//  < 1000
@media (max-width: 1000px){
    // header
    header{
        .logo{
            width: 30%;
        }
        nav, .tour{
            display: none;
        }
        .mobile_menu{
            display: flex;
        }
    }
    // FIRST SCREEN
    .first_screen{
        .socials_block, .languages_block{
            display: none;
        }
        
    }
    // SECOND SCREEN
    .second_screen{
        .advantages_block{
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
        .mint_back{
            width: 25%;
        }
        .icon img{
            width: 100%;
        }
        .orange_line{
            background-color: none;
            margin: 20% 0;
        }
        .service{
            position: static;
            width: 100%;
            min-height: 500px;
            max-height: 500px;
        }
        .serv_text{
            width: 50%;
        }
        .descr{
            opacity: 1;
            width: 60%;
        }
    }
    // THIRD SCREEN
    .third_screen{
        .arrow_prev{
            left: 12%;
        }
        .review{
            font-size: 16px;
        }
        .slick-slide{
            margin-bottom: 6%;
        }
        .dec {
            position: absolute;
            top: -19%;
            width: 50px;
        }
        .dec_1{
            left: 10%;
        }
    }
    // FOURTH SCREEN
    .fourth_screen{
        .partners{
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
        .partner img{
            max-height: 350px;
            min-height: 350px;
        }
        .orange_line{
            margin-top: 75%;
            flex-direction: column;
            background-color: inherit;
        }
        .absolute_line_block{
            width: 100%;
            position: static;
        }
        .benefit_main_text{
            font-size: 40px;
        }
    }
    // FIFTH SCREEN
    .fifth_screen{
        margin-top: 10%;
        .title h2{
            font-size: 55px;
            line-height: 80px;
        }
    }
    footer{
        .get_in_touch{
            width: 100%;
            form{
                width: 100%;
            }
        }
        .contacts{
            width: 80%;
        }
    }
}
//  < 760
@media (max-width: 760px){
    // popup
    .default_popup{
        width: 70%;
    }
    .default_popup .start_popup_wrap{
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
    }
    // TITLE
    .title{
        width: 90%;
    }
    .title h2{
        width: 92%;
        font-size: 42px;
        line-height: 65px;
    }
    .title .round{
        margin: 20px;
        height: 56px;
        width: 56px;
    }
    // HEADER
    header{
        width: 90%;
        .logo{
            width: 40%;
        }
    }
    // FIRST SCREEN
    .first_screen{
        .get_started_block {
            width: 90%;
            .start_wrap {
                margin-top: 16%;
                margin-bottom: 14%;
            }
            .start .delivery_text {
                font-size: 48px;
                line-height: 59px;
            }
            .start h1{
                font-size: 72px;
                line-height: 98px;
            }
        }
        .welcome_block{
            display: none;
        }
        .start {
            width: 100%;
        }
    }
    // SECOND SCREEN
    .second_screen{
        .orange_line{
            margin: 0%;
            margin-top: 30%;
        }
        .service {
            min-height: 450px;
            max-height: 450px;
        }
        .serv_text {
            width: 50%;
            font-size: 48px;
            line-height: 56px;
            padding-top: 100px;
        }
        .round::after {
            height: 300vh;
        }
    }
    // THIRD SCREEN
    .third_screen{
        .round::before {
            height: 160vh;
        }
        .round::after {
            height: 160vh;
        }
        .slick-slide{
            padding: 100px 0;
        }
        .desktop_arrow {
            bottom: 0%;
        }
        .slider{
            width: 100%;
            background: url(../img/roundLogo.svg) -400% 19% no-repeat; 
            background-size: 95%;
            .plashka_wrap {
                width: 90%;
                padding: 30px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 95%;
            }
            .plashka_content{
                padding: 80px 40px 60px 40px;
            }
            .review {
                font-size: 32px;
                line-height: 44px;
            }
        }
    }
    // FOURTH SCREEN
    .fourth_screen{
        .round::before {
            height: 160vh;
        }
        .action_btn{
            width: 40%;
        }
        .orange_line{
            margin-top: 95%;
        }
        .benefit_main_text{
            font-size: 30px;
            line-height: 35px;
        }
        .partner .partner_name {
            font-size: 48px;
            line-height: 57px;
        }
    }
    footer .get_in_touch span {
        font-size: 14px;
        width: 90%;
    }
}
// < 650
@media (max-width: 650px){
    .third_screen {
        margin-top: 45%;
    }
    .third_screen .slide_photo{
        width: 100%;
    }
    .third_screen .plashka_wrap {
        width: 90%;
    }
    .fourth_screen .action_btn {
        width: 60%;
    }
    .fourth_screen .benefit_text {
        margin: 70px 0 30px 0;
        margin-left: 12%;
    }
    .fifth_screen .title h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .slick-slide {
        padding: 140px 0;
    }
}

// mobile full 
@media (max-width: 550px){
    
    .title{
        width: 98%;
        // ROUND DECORATIVE ELEMENT
        .circle{
            border-width: 3px;
        }
        .round{
            margin: 10px;
            height: 38px;
            width: 38px;
            border-width: 3px;
        }
        .text_and_button{
            margin-top: 40px;
            margin-left: 5px;
        }
        h2{
            font-size: 28px;
            line-height: 35px;
        }
    }

    // POPUP 
    .default_popup{
        width: 95%;
        .send_btn {
            width: 140px;
            margin-top: 20px;
        }
    }
    // BUTTONS
    .orange_btn{
        padding: 17px 29px;
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .transp_btn{
        padding: 10px 22px;
        p{
            font-size: 12px;
            line-height: 24px;
        }
    }
    // HEADER
    header{
        margin-top: 20px;
        .logo{
            width: 70%;
        }
    }
    // FIRST SCREEN
    .first_screen{
        margin-top: 25px;
        .start{
            .start_wrap {
                margin-bottom: 25%;
            }
        }
        .get_started_block{
            width: 100%;
            .start{
                h1{
                    font-size: 36px;
                    line-height: 45px;
                    margin-bottom: 25px;
                }
                .delivery_text{
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
    // SECOND SCREEN 
    .second_screen{
        // back
        .mint_back {
            width: 64%;
            right: -25%;
            top: 8%;
        }
        // advantages
        .advantages_block{
            margin-top: 50px;
            grid-row-gap: 15px;
        }
        .icon {
            margin: 30px 0;
            img {
                width: 80%;
            }
        }
        .adv_text {
            padding: 20px 0;
            p{
                font-size: 12px;
                width: 80%;
                line-height: 15px;
                letter-spacing: 2px;
            }
        }
        // service
        .orange_line {
            margin-top: 35%;
        }
        .service {
            min-height: 280px;
            max-height: 280px;
        }
        .serv_text {
            width: 60%;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.01em;
            margin-left: 5%;
            padding-top: 60px;
        }
        .descr {
            width: 90%;
            font-size: 16px;
            line-height: 25px;   
            margin-left: 5%;
        }   
        .round::after {
            height: 180vh;
        }
    }
    // THIRD SCREEN
    .third_screen {
        margin-top: 60%;
        // round
        
         .title .circle{
            border-color:#403e3D;
        }
        .round::before{
            background-color: #403e3D;
        }
        .round::after{
            background-color: #403e3D;
            height: 60vh;
        }
        // slide
        .slick-slide {
            padding: 20px 0;
            padding-bottom: 140px;
        }
        
        .slider{
            background-image: unset;
            .desktop_arrow {
                bottom: 5%;
            }
            .arrow_next {
                right: 30%;
                left: unset;
            }
            .arrow_prev {
                left: 30%;
            }
            .dec {
                top: -20%;
                width: 30px;
            }
            .dec_1 {
                left: 63%;
            }
            .dec_2 {
                left: 75%;
            }
            .plashka_wrap {
                padding: 20px;
            }
            .plashka_content {
                padding: 30px 15px;
                align-items: flex-start;
            }
            .slide_photo {
                max-height: 400px;
            }
            .review {
                text-align: left;
                width: 100%;
                font-size: 16px;
                line-height: 25px;
            }
            .author{
                font-size: 18px;
                line-height: 22px;
                text-align: right;
                letter-spacing: -0.01em;
            }
        }
    }
    // FOURTH SCREEN
    .fourth_screen{
        .partners {
            grid-row-gap: 15px;
             margin-top: 30px; 
        }
        .partner .partner_name {
            font-size: 28px;
            line-height: 45px;
            letter-spacing: -0.01em;
            margin-bottom: 10px;
        }
        .partner img {
            max-height: 180px;
            min-height: 180px;
        }
        .partner .partner_descr{
            font-size: 14px;
            line-height: 20px;
        }
        .action_btn {
            width: 70%;
            margin-left: 6%;
            margin-bottom: 80px;
        }
        .orange_line {
            margin-top: 105%;
        }
        .absolute_line_block {
            min-height: 300px;
        }
        .benefit_text {
            margin: 50px 0 30px 0;
            margin-left: 6%;
            width: 80%;
        }
        .benefit_descr{
            font-size: 13px;
            line-height: 18px; 
            letter-spacing: 3.2px;
        }
        .benefit_main_text {
            font-size: 22px;
            line-height: 30px;
            letter-spacing: -0.01em;
        }
    }
    // FIFTH SCREEN
    .fifth_screen{
        margin-top: 70px;
        .title h2{
            font-size: 40px;
            line-height: 45px;
            width: 95%;
            margin-bottom: 25px;
            margin-top: 10px;
        }
        .stay{
            font-size: 13px;
            line-height: 18px;
        }
    }
    // FOOTER
    footer{
        margin-top: 30%;
        padding-bottom: 40px;
        .back3 {
            width: 100%;
        }
        .logo{
            width: 65%;
        }
        .footer_wrap {
            width: 90%;
        }
        .get_in_touch span {
            padding: 20px 0;
        }
        .contacts {
            flex-direction: column;
            margin-top: 35px;
         }
         .contacts .tel_contact{
            margin-bottom: 20px;
            font-size: 26px;
            line-height: 25px;
        }
        input::placeholder{
            font-size: 15px;
        }
        button {
            font-size: 16px
        }
    }

    .absolute_main_text {
        width: 60%;
        font-size: 20px;
        line-height: 30px;
    }
}